.list-container {
    padding: 20px;
  }
  
  .list-table {
    margin-top: 20px;
  }
  
  .list-table-format {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .title {
    font-weight: bold;
    border-bottom: 2px solid #000;
  }
  
  .shipment-item {
    list-style-type: none;
    padding: 10px 0;
  }
  
  .list-table-format span {
    text-align: left;
  }

  .list-table-format p{
    cursor: pointer;
  }
  