/* ShipmentDetailsPage.css */

.new-design{
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  align-items: center;
  border: 2px solid rgb(120, 118, 118);
  background-color: #d2cbcb;
  width: 80%;
  margin: auto;
  border-radius: 4px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}

.parcel-icon{
  width: 45px;
  
}

.delivery-texts {
font-size: 18px;
}

.dot{
  color: rgb(168, 7, 7);
  margin: 7px;
}


.shipment-details-page h3 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}


.container {
 
  margin-bottom: 20px;
}

@media (max-width: 750px){
  .new-design{
    display: grid;
   
    
  }
}


/* old design 

  

  
  
  
  .shipment-details-page p b {
    color: #333;
  }
  
  .shipment-details-page .division {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: left;
    
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  
  

  */
