/* ShipmentDetailsPage.css */

.new-design{
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  align-items: center;
  border: 2px solid rgb(120, 118, 118);
  background-color: #d2cbcb;
  width: 80%;
  margin: auto;
  border-radius: 4px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}

.parcel-icon{
  width: 45px;
  
}

.delivery-texts {
font-size: 18px;
}

.dot{
  color: rgb(168, 7, 7);
  margin: 7px;
}


.shipment-details-page h3 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}


.container {
  margin-bottom: 20px;
}


@media (max-width: 700px){
  .new-design{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
    .dot{
      color: rgb(168, 7, 7);
      margin-right: 7px;
    }

    .parcel-icon{
  width: 45px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  
  
}

.delivery-texts {
  font-size: 15px;
  padding-bottom: 10px;
  }
}


